/*
Authors: Yannik Werner Herbst <yannik.herbst@uni-wuerzburg.de>

Copyright 2020 Zentrum für Philologie und Digitalität 

This file is a extension of ediarum.BASE.edit and requires their standard css.

I'ts free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published 
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

It's distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with ediarum.BASE.edit. If not, see <http://www.gnu.org/licenses/>.
*/

@import url("../../../ediarum.BASE.edit/css/standard.css");

/* Kapitel */
div[type="chapter"]{
    margin-bottom: 3em;
    padding: 1em;
    background-color: rgb(249, 251, 255);
    margin: 0.3em;
}
div[type="chapter"] head{
    font-weight: bold;
    font-size: large;
    padding-top: 0.7em;
}

text ab[style^=text-align] {
    content:attr(style);
}
/* Indizes */
text persName::before,
    text orgName::before,
    text placeName::before,
    text bibl::before, 
    text rs[type="term"]::before,
    text note[type="marginalia"]::after{
        display: inline-block;
        height: 1em;
        width: 1em;
        vertical-align: middle;
        margin-right: 0.2em;
        margin-left: 0.2em;
}
text persName::before{
    content: url("../icons/person.png");
}
text orgName::before{
    content: url("../icons/organization.png");
}
text placeName::before{
    content: url("../icons/place.png");
}
text bibl::before{
    content: url("../icons/bibl.png");
}
text rs[type="term"]::before{
    content: url("../icons/term.png");
}

/* Holzschnitte */
graphic[url]{
    content: url(oxy_base-uri()'${ediarum_projects_directory}${ediarum_project_name}/data/${ediarum_image_directory}/' attr(url));
    width: 250px;
}
text figure p {
    -oxy-placeholder-content: "[Bildbeischrift]"
}

/* Marginalien */
text note[type="marginalia"]{
    display: inline-block;
    padding: 0.1em;
    background-color: mediumpurple;
    color: white;
}
text note[type="marginalia"][place="top"]::after{
    content: url('../icons/top.png');
}
text note[type="marginalia"][place="bottom"]::after{
    content: url('../icons/bottom.png');
}
text note[type="marginalia"][place="margin_inner"]::after{
    content: url('../icons/margin_inner.png');
}
text note[type="marginalia"][place="margin_outer"]::after{
    content: url('../icons/margin_outer.png');
}
text note[type="marginalia"][place="top_inner"]::after{
    content: url('../icons/top_inner.png');
}
text note[type="marginalia"][place="top_outer"]::after{
    content: url('../icons/top_outer.png');
}
text note[type="marginalia"][place="bottom_inner"]::after{
    content: url('../icons/bottom_inner.png');
}
text note[type="marginalia"][place="bottom_outer"]::after{
    content: url('../icons/bottom_outer.png');
}
text note[type="marginalia"][place="intercolumn"]::after{
    content: url('../icons/intercolumn.png');
}

/* Spalten */
text cb{
    height: 2.5em;
    font-weight: bold;
    margin-top: 1em;
    color: mediumblue;
}
/*text rs[type="term"]:hover::after{
    content: attr(key);
    position: relative;
    display: inline-block;
    background-color: cadetblue;
    color: aliceblue;
    border: 1px solid black;
    padding: 2px;
}*/
